{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Management</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container"><!-- templates/home.html -->
<h1>Welcome to Our Restaurant</h1>

{% if location %}
  <h3>Find Us At:</h3>
  <p>
    {{ location.address }} <br>
    {{ location.city }}, {{ location.state }} {{ location.zip_code }}
  </p>
{% else %}
  <p>Restaurant address coming soon...</p>
{% endif %}
                
    </div>
</body>
</html>